<div>
    <form class="login-form">
        <div>
            <label for="email-login">email:</label>
            <input type="text" id="email-login" class="login-form" />
        </div>
        <div>
            <label for="password-login">password:</label>
            <input type="password" id="password-login" class="login-form" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>

<div>
    <form class="signup-form">
        <div>
            <label for="username-signup">username:</label>
            <input type="text" id="username-signup" class="signup-form" />
        </div>
        <div>
            <label for="email-signup">email:</label>
            <input type="text" id="email-signup" class="signup-form" />
        </div>
        <div>
            <label for="password-signup">password:</label>
            <input type="password" id="password-signup" class="signup-form" />
        </div>
        <div>
            <button type="submit">Signup</button>
        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>